@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Quicksand:wght@300;500;700&display=swap');

:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
    --attribution-height: 12px;

}

body {
    font-family: 'Figtree';
    display: flex;
    background-color: var(--yellow);
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--attribution-height));
    overflow: hidden;
    font-size: 16px;
}

#card {
    margin: auto auto;
    width: 340px;
    height: fit-content;    
    background-color: var(--white);
    padding: 1.2rem;
    border: 2px solid var(--black);
    border-radius: 1.5rem;
    box-shadow: 0.6rem 0.6rem var(--black);
}

svg{
    border-radius: 1.5rem;
}

#tag{
    display: block;
    box-sizing: content-box;
    font-weight: bold;
    background-color: var(--yellow);
    margin: 1.2rem 0;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    width: fit-content;
}

main {
    margin: 2rem 0;
}
main > p {
    color: var(--grey);
}
main > h1:hover{
    color: var(--yellow);
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

footer > img {
    height: 3rem;
}
footer > p{
    font-size: 1rem;
    font-weight: bold;
}



.attribution { 
    height: 2vh;
    font-size: 1rem; 
    margin: 1rem 0;
    text-align: center; 
    position: fixed;
    bottom: 0;
}
.attribution a { color: hsl(228, 45%, 44%); }