:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
    --attribution-height: 12px;

}

body {
    display: flex;
    background-color: var(--yellow);
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--attribution-height));
    overflow: hidden;
}

#card {
    margin: auto auto;
    width: 340px;
    height: 60%;
    background-color: var(--white);
    padding: 1.2rem;
    border: 2px solid var(--black);
    border-radius: 1.5rem;
    box-shadow: 0.6rem 0.6rem var(--black);
}





.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 0;
}
.attribution a { color: hsl(228, 45%, 44%); }